# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- Introduce common libraries used in Python and R for Data Science.
- Perform basic arithmetic operations in Python.
- Convert units of time using Python expressions.
- Explain the usage of Jupyter Notebook for Data Science tasks.

## Author
Okuwa Nwanze

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Numpy in Python
2. Pandas in Python
3. dplyr in R
4. ggplot2 in R

| Data Science Tools   |
|----------------------|
| Jupyter Notebook     |
| RStudio              |
| VS Code with Python  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
result

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
hours = 200 / 60
hours

3.3333333333333335